@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");

#heading {
  font-family: "Titillium Web", sans-serif;
  font-weight: 800px;
  font-size: xx-large;
  letter-spacing: 10px
}
